.git
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.backup
.env.production
tests
phpunit.xml
*.log
.DS_Store
Thumbs.db
.idea
.vscode
.phpunit.cache
test_*.php
